@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-width: 100vw;
    overflow-x: hidden;
  }
.bg-color{
  background-color: #09121B;
}
.out-color{
  outline-color: #09D0CD;
}
.act-color{
  color:#09D0CD;
}

.nv-bg{
  background-color: #09D0CD;
}